---
import PostList from "@components/PostList.astro";
import PostTag from "@components/PostTag.astro";
import LayoutBase from "@layouts/LayoutBase.astro";
import { tags } from '@utils/blogTag'
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog");
blogPosts.sort((a, b) => {
  return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime();
});
---

<LayoutBase title="Blog">
  <main class="wrapper mt-20">
    <header>
        <div class="flex flex-row justify-center overflow-auto p-1 space-x-2 my-2">
          {
            tags.map((tag) => {
              return (
                <PostTag tag={tag} />
              );
            })
          }
        </div>
    </header>
    <PostList />
  </main>
</LayoutBase>
