---
import { Icon } from "astro-icon/components";
import Button from "../components/Button.astro";
import ContactInfo from "../components/ContactInfo.astro";
import FormInput from "../components/FormInput.astro";
import FormTextarea from "../components/FormTextarea.astro";
import PageHeader from "../components/PageHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { PERSONAL_INFO } from "../consts";

const email = PERSONAL_INFO.email;
---

<BaseLayout
  title="Contact - TechSquidTV"
  description="Get in touch with Kyle Tryon from TechSquidTV"
  maxWidth="md"
>
  <PageHeader title="Get In Touch">
    <ContactInfo email={email} className="mb-8" />
  </PageHeader>

  <form
    name="contact"
    method="POST"
    data-netlify="true"
    netlify-honeypot="dontCheckMe"
    class="w-full"
  >
    <div class="absolute left-[-9999px] opacity-0">
      <label>
        Don't fill this out if you're human: <input name="dontCheckMe" />
      </label>
    </div>

    <FormInput
      id="name"
      name="name"
      label="Name"
      placeholder="Homer Simpson"
      required
    />

    <FormInput
      type="email"
      id="email"
      name="email"
      label="Email"
      placeholder="mail@domain.com"
      note="I will never share your email with anyone else."
      required
    />

    <FormTextarea
      id="message"
      name="message"
      label="Message"
      placeholder="Hello, I'd like to talk about..."
      required
    />

    <Button type="submit" variant="primary" fullWidth>
      <Icon name="email" size={18} />
      Send Message
    </Button>
  </form>
</BaseLayout>
