---
import SocialsHeadless from "@components/Headless/SocialNav.astro";
import PostList from "@components/PostList.astro";
import LayoutBase from "@layouts/LayoutBase.astro";
---

<LayoutBase>
  <header class="flex flex-col md:space-y-4 px-12 mt-20 mb-4 justify-center text-center">
    <h1 class="text-4xl text:xs-3xl md:text-8xl font-semibold text-white">TechSquidTV</h1>
    <p class="text-2xl md:text-4xl">Open-Source developer and tech educator</p>
    <SocialsHeadless
      classNames={{
        ul: "flex flex-row space-x-3",
        li: "p-1",
        container: "flex flex-row justify-center p-1",
      }}
    />
  </header>
  <main class="wrapper">
    <div class="flex flex-col items-stretch md:flex-row space-y-4 md:space-y-0 md:space-x-4">
      <div class="flex-1">
        <h2 class="text-2xl p-1">Latest Post</h2>
        <PostList limit={1} />
      </div>
      <div class="flex flex-1 flex-col items-stretch">
        <h2 class="text-2xl p-1">Top Projects</h2>
        <div class="flex flex-1 card">
        
        </div>
      </div>
    </div>
  </main>
</LayoutBase>