---

---

<div>
  <h2 class="text-lg font-bold my-0">Newsletter</h2>
  <p class="text-sm italic my-0">
    Let's stay in touch! Get notified of new posts and videos
  </p>
  <div class="card mt-2">
    <form
      class="flex flex-row justify-between items-center space-x-4"
      name="newsletter"
      method="POST"
      data-netlify="true"
      netlify-honeypot="dontCheckMe"
    >
      <div class="flex flex-col flex-1">
        <input
          type="text"
          name="email"
          placeholder="human@tstv.me"
          class="rounded-sm p-2 bg-smoke-950 my-1 text-sm"
        />
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="dontCheckMe" />
          </label>
        </p>
      </div>
      <button
        type="submit"
        class="rounded bg-smoke-800 py-2 px-4 duration-200 relative overflow-hidden hover:ring-2">
        <span class="z-10">Subscribe</span>
        <span
          class="absolute inset-0 bg-bigsur opacity-0 transition-opacity duration-200 hover:opacity-65"
        ></span>
      </button>
    </form>
  </div>

  <span class="text-xs text-smoke-300 text-center block mt-1"
    >Your email will never be shared. 1-2 emails per month max</span
  >
</div>
