---

---
<div>
  <h2 class="text-lg font-bold my-0">Newsletter</h2>
  <p class="text-sm italic my-0">Let's stay in touch! Get notified of new posts and videos</p>
  <form class="flex flex-row card justify-between items-center my-1" name="newsletter" method="POST" data-netlify="true">
  <div class="flex flex-col flex-1">
    <input type="text" placeholder="homer@simpson.com" class="rounded-sm p-2 bg-smoke-950 my-1 text-sm">
    <span class="text-xs">Your email will never be shared. 1-2 emails per month max</span>
  </div>
  <div class="px-4">
    <button type="submit" class="rounded bg-smoke-800 hover:bg-smoke-700 p-2 transition-colors duration-200">Subscribe</button>
  </div>
</form>
</div>