---
import timeToRead from "@utils/timeToRead.ts";
import RelTime from "@components/RelTime.astro";
import PostTag from "@components/PostTag.astro";
import type { CollectionEntry } from 'astro:content';

type Props = {
  post:  CollectionEntry<'blog'>;
}

const { post } = Astro.props
---

<div class="flex flex-col space-y-2 mt-1">
<div class="flex flex-row text-sm text-smoke-400 space-x-1">
  {post.data.tags?.map((tag) => {
    return <PostTag tag={tag} />;
  })}
</div>
<div class="flex justify-between text-xs text-smoke-500">
  <span>
    <RelTime
      datetime={post.data.publishDate.toDateString()}
    />
  </span>
  <span>{timeToRead(post.body)}m read</span>
</div>
</div>