---
const {title, description, price } = Astro.props

const money = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 2
})
---

<div class="flex flex-col flex-1 w-full md:max-w-[33.33%] bg-smoke-1000 bg-opacity-45 backdrop-blur rounded-md p-4 shadow-sm hover:shadow-md hover:scale-[100.5%] transition-all duration-300 ease-in-out">
  <h3 class="text-xl text-center font-bold text-white">{title}</h3>
  <p class="flex-1 leading-6">{description}</p>
  <div class="flex flex-row items-end">
    {
      price && (
        <span class="text-sm mr-2">from</span><span>{money.format(price)}</span><span class="text-xs w-full text-right"> tax not included*</span>
      )
    }
    {
      !price && (
        <span class="text-sm mr-2">Book a meeting</span>
      )
    }
  </div>
</div>