---
import BaseHead from "../components/BaseHead.astro";
import StructuredData from "../components/StructuredData.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  maxWidth?: "sm" | "md" | "lg" | "xl" | "full";
}

const { title, description, maxWidth = "md" } = Astro.props;

const maxWidthClasses = {
  sm: "max-w-md",
  md: "max-w-2xl",
  lg: "max-w-4xl",
  xl: "max-w-6xl",
  full: "max-w-full",
};
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <StructuredData />
  </head>
  <body>
    <ClientRouter />
    <Header />
    <main
      class={`
			mt-8 mb-8 px-4
			${maxWidthClasses[maxWidth]} 
			mx-auto
		`}
    >
      <div class="p-12 sm:p-6 md:p-8">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
