---
import '@fontsource-variable/inter';
import '@fontsource-variable/outfit';

import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import NavMain from "@components/Nav/NavMain";


interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const {
  title,
  description = "Open-source developer and tech educator, Kyle A.K.A TechSquidTV. Software development tutorials, videos, and fun code experiments.",
  ogImage = "/opengraph/images/default-opengraph.png",
} = Astro.props as Props;

---

<!doctype html>
<html lang="en">
  <Head
    title={`TechSquidTV${ title ? ` | ${title}` : "" }`}
    description={description}
    ogImage={ogImage}
  />
  <body class="flex flex-col bg-smoke-950 text-smoke-100 leading-relaxed">
    <div class="flex fixed top-4 left-0 right-0 z-50 justify-center">
      <NavMain client:load/>
    </div>
    <div class="flex-1">
      <slot />
    </div>  
    <Footer />
  </body>
</html>

<style is:global>
@import "tailwindcss";

*, *:before, *:after { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
  height: auto;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body { font-family: 'Outfit Variable', sans-serif; }

body::-webkit-scrollbar-track { background: transparent; }
body::-webkit-scrollbar-thumb { background-color: rgb(206 212 218); border-radius: 1rem; }
body::-webkit-scrollbar { width: 0.5rem; }

h1, h2, h3, h4, h5, h6 { font-family: 'Inter', sans-serif; }

p > a, .md-content a { color: rgb(187 247 208); text-decoration: underline; }

p { margin-top: 1rem; margin-bottom: 1rem; }

.wrapper { display: flex; flex-direction: column; justify-content: center; padding-left: 0.5rem; padding-right: 0.5rem; margin-left: auto; margin-right: auto; }

.card { border-radius: 0.5rem; background-repeat: no-repeat; background-size: cover; background-position: center; background-color: rgb(57 59 60); padding: 1rem; }

textarea:focus { outline: none; }

.fade-on-scroll { opacity: 0; transition: opacity 1s ease-in-out; }
.fade-in-scroll { opacity: 1; }
</style>