---
import "../styles/global.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/outfit";

import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import NavMain from "@components/Nav/NavMain";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const {
  title,
  description = "Open-source developer and tech educator, Kyle A.K.A TechSquidTV. Software development tutorials, videos, and fun code experiments.",
  ogImage = "/opengraph/images/default-opengraph.png",
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <Head
    title={`TechSquidTV${title ? ` | ${title}` : ""}`}
    description={description}
    ogImage={ogImage}
  />
  <body class="flex flex-col">
    <div class="flex fixed top-4 left-0 right-0 z-50 justify-center">
      <NavMain client:load />
    </div>
    <div class="flex-1">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  @reference "../styles/global.css"

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Outfit Variable", sans-serif;

  }

  body::-webkit-scrollbar-track {
    background: transparent; /* Making the track transparent */
  }

  body::-webkit-scrollbar-thumb {
    border-radius: 1rem; /* Rounded corners */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
  }


  textarea:focus {
    outline: none;
  }

  .fade-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  /* Apply transitions only after the initial hide */
  .fade-in-scroll {
    opacity: 1;
  }
</style>
