---
import '@fontsource-variable/inter';
import '@fontsource-variable/outfit';

import Footer from "@components/Footer.astro";
import Head from "@components/Head.astro";
import Navigation from "@components/Navigation.astro";


interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = "TechSquidTV",
  description = "Open-source developer and tech educator, Kyle A.K.A TechSquidTV. Software development tutorials, videos, and fun code experiments.",
  ogImage = "/opengraph/images/default-opengraph.png",
} = Astro.props as Props;
const noiseTexture = `url('${new URL("/assets/noise.svg", Astro.site).href}')`;

---

<!doctype html>
<html lang="en">
  <Head
    title={title}
    description={description}
    ogImage={ogImage}
  />
  <body class="flex flex-col">
    <Navigation />
    <div class="flex-1">
      <slot />
    </div>  
    <Footer />
  </body>
</html>

<style is:global define:vars={{noiseTexture}}>

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, body {
  height: auto;
  min-height: 100vh;
  @apply bg-smoke-950 text-smoke-100;
}

body {
  font-family: 'Outfit Variable', sans-serif;
  background-image: var(--noiseTexture);
  @apply flex flex-col bg-no-repeat bg-cover bg-center bg-fixed leading-relaxed;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

p > a {
  @apply text-emerald-200 underline
}

p {
  @apply my-4
}

.wrapper {
  @apply flex flex-col justify-center px-2 mx-auto md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl
}

.card {
  /* background-image: var(--noiseTexture); */
  @apply rounded-lg bg-no-repeat bg-cover bg-center bg-smoke-900 p-4 shadow-2xl
}

textarea:focus {
  outline: none;
}

</style>